### 데이터 전처리 EX-1

#### 문제 1: 결측치 처리
- Kaggle의 ["Titanic - Machine Learning from Disaster"](https://www.kaggle.com/competitions/titanic) 데이터셋을 사용하여 결측치를 처리하세요.
- 데이터셋을 불러온 후, 다음과 같이 결측치를 처리하세요.
- Age 열의 결측치는 평균값으로 대체합니다.
    - Embarked 열의 결측치는 최빈값(Mode)으로 대체합니다.
    - Cabin 열은 결측치가 너무 많아서 삭제합니다.
    - 결측치 처리 후, 결측치가 모두 제거되었는지 확인하는 코드를 작성하세요.

In [1]:
import pandas as pd

# 데이터 프레임 생성
data = pd.read_csv('train.csv')
df = pd.DataFrame(data)

# 결측치 확인
print("\n------------ 결측치 확인 ------------\n")
print(df.isnull().sum())

# Age 열의 결측값을 평균값으로 대체
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Embarked 열의 결측치는 최빈값(mode)으로 대체
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Cabin 열 삭제
df = df.drop(columns='Cabin')

# 결측치 처리 확인
print("\n--------- 결측치 처리 후 확인 ---------\n")
print(df.isnull().sum())

------------ 결측치 확인 ------------

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

--------- 결측치 처리 후 확인 ---------

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

### 데이터 전처리 EX-2

#### 문제 2: 중복 데이터 제거
임의의 데이터셋을 사용하여 중복 데이터를 제거하는 작업을 수행하세요.
다음은 인공지능 수업에서 사용할 전처리 문제입니다.
중복 데이터를 포함하는 생성된 파일 데이터셋을 사용하여 중복 데이터를 제거하는 작업을 수행하세요.

##### 문제 요구 사항
- sales.csv 파일을 불러옵니다. 이 파일에는 중복된 행이 일부 포함되어 있습니다.
- 중복된 데이터의 개수를 출력하세요.
- 중복된 행을 모두 제거한 후, 남은 데이터의 개수를 확인하세요.

In [2]:
#샘플 데이터 만들기

import pandas as pd

# 1. 가짜 데이터 생성
data = {
    'ProductID': [101, 102, 103, 104, 101, 102, 103, 105, 106, 101],
    'ProductName': ['A', 'B', 'C', 'D', 'A', 'B', 'C', 'E', 'F', 'A'],
    'Price': [100, 200, 300, 400, 100, 200, 300, 500, 600, 100],
    'Quantity': [1, 2, 3, 4, 1, 2, 3, 5, 6, 1]
}

# 2. DataFrame 생성
df = pd.DataFrame(data)

# 3. 중복된 데이터를 일부 추가 (중복된 행 4개 추가)
df.loc[len(df.index)] = [101, 'A', 100, 1]  # 중복 행 추가
df.loc[len(df.index)] = [102, 'B', 200, 2]  # 중복 행 추가
df.loc[len(df.index)] = [103, 'C', 300, 3]  # 중복 행 추가
df.loc[len(df.index)] = [104, 'D', 400, 4]  # 중복 행 추가

# 4. CSV 파일로 내보내기
df.to_csv('sales.csv', index=False)

print("sales.csv 파일이 생성되었습니다.")

sales.csv 파일이 생성되었습니다.

In [3]:
# 데이터 프레임 생성
df = pd.read_csv('sales.csv')

# 중복된 행 확인
print("\n------------ 중복된 행 확인 ------------\n")
print(df)

# 중복된 데이터의 개수 출력
duplicate_count = df.duplicated().sum()
print(f"\n중복된 데이터의 개수: {duplicate_count}\n")

# 중복된 행을 제거
df_no_duplicates_by_ProductID = df.drop_duplicates(subset=['ProductID'], keep='first')

# 남은 데이터의 개수를 확인
df_no_duplicates_by_ProductID_count = df_no_duplicates_by_ProductID.shape[0]
print(f"중복 제거 후 남은 데이터의 개수: {df_no_duplicates_by_ProductID_count}\n")

------------ 중복된 행 확인 ------------

    ProductID ProductName  Price  Quantity
0         101           A    100         1
1         102           B    200         2
2         103           C    300         3
3         104           D    400         4
4         101           A    100         1
5         102           B    200         2
6         103           C    300         3
7         105           E    500         5
8         106           F    600         6
9         101           A    100         1
10        101           A    100         1
11        102           B    200         2
12        103           C    300         3
13        104           D    400         4

중복된 데이터의 개수: 8

중복 제거 후 남은 데이터의 개수: 6

### 데이터 전처리 EX-3

#### 문제 3: 이상치 제거 (IQR 이용)
- Kaggle의 ["Diamonds"](https://www.kaggle.com/datasets/shivam2503/diamonds) 데이터셋을 사용하여 이상치 제거 문제를 해결하세요.
- 이 데이터셋은 다이아몬드의 가격과 관련된 다양한 특징(캐럿, 컷, 색상, 투명도 등)을 포함하고 있습니다.
- carat 열에서 IQR 방식을 사용하여 이상치를 제거하세요.
- 이상치를 제거한 후 데이터의 개수를 출력하세요.
- 이상치의 경계를 계산하여 하한(lower bound)과 상한(upper bound) 값을 출력하세요.

In [4]:
import numpy as np
import pandas as pd

# 데이터 프레임 생성
data = pd.read_csv('diamonds.csv')
df = pd.DataFrame(data)

# 이상치 제거 전 데이터 개수 확인
print(f"\n이상치 제거 전 데이터 개수: {df.shape[0]}\n")

# IQR을 이용한 이상치 제거
Q1 = df['carat'].quantile(0.25)
Q3 = df['carat'].quantile(0.75)
IQR = Q3 - Q1

# 이상치 기준
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# 이상치 확인
outliers = df[(df['carat'] < lower_bound) | (df['carat'] > upper_bound)]
print("\n------------ 이상치 확인 ------------\n")
print(outliers.head())

# 이상치 제거
df_no_outliers = df[(df['carat'] >= lower_bound) & (df['carat'] <= upper_bound)]

# 이상치 제거 후 데이터 개수 확인
print(f"\n이상치 제거 후 데이터 개수: {df_no_outliers.shape[0]}\n")

# 하한치와 상한치 출력
print(f"하한치: {lower_bound}, 상한치: {upper_bound}\n")

이상치 제거 전 데이터 개수: 53940


------------ 이상치 확인 ------------

       Unnamed: 0  carat      cut color clarity  depth  table  price     x  \
12246       12247   2.06  Premium     J      I1   61.2   58.0   5203  8.10
13002       13003   2.14     Fair     J      I1   69.4   57.0   5405  7.74
13118       13119   2.15     Fair     J      I1   65.5   57.0   5430  8.01
13757       13758   2.22     Fair     J      I1   66.7   56.0   5607  8.04
13991       13992   2.01     Fair     I      I1   67.4   58.0   5696  7.71

          y     z
12246  8.07  4.95
13002  7.70  5.36
13118  7.95  5.23
13757  8.02  5.36
13991  7.64  5.17

이상치 제거 후 데이터 개수: 52051

하한치: -0.5599999999999999, 상한치: 2.0

### 데이터 전처리 EX-4

#### 문제 4: 범주형 데이터 인코딩
- Kaggle의 ["Adult Income"](https://www.kaggle.com/wenruliu/adult-income-dataset) 데이터셋을 사용하여 범주형 데이터를 인코딩하세요.
- workclass, education, marital-status, occupation, relationship, race, gender, native-country 열을 Label Encoding으로 변환하세요.

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# 데이터 프레임 생성
data = pd.read_csv('adult.csv')
df = pd.DataFrame(data)

# 레이블 인코딩을 위한 LabelEncoder 객체 생성
label_encoder = LabelEncoder()

# 범주형 데이터를 갖는 열 지정
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

# 각 범주형 열에 대해 레이블 인코딩 수행
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

# 인코딩된 데이터 확인
print("\n------------ 레이블 인코딩 결과 ------------\n")
print(df.head())

------------ 레이블 인코딩 결과 ------------

   age  workclass  fnlwgt  education  educational-num  marital-status  \
0   25          4  226802          1                7               4
1   38          4   89814         11                9               2
2   28          2  336951          7               12               2
3   44          4  160323         15               10               2
4   18          0  103497         15               10               4

   occupation  relationship  race  gender  capital-gain  capital-loss  \
0           7             3     2       1             0             0
1           5             0     4       1             0             0
2          11             0     4       1             0             0
3           7             0     2       1          7688             0
4           0             3     4       0             0             0

   hours-per-week  native-country income
0              40              39  <=50K
1              50              39  <=50K
2              40              39   >50K
3              40              39   >50K
4              30              39  <=50K

### 데이터 전처리 EX-5

#### 문제 5: 데이터 스케일링
- Kaggle의 ["Wine Quality"](https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009) 데이터셋을 사용하여 데이터를 스케일링하세요.
- fixed acidity, volatile acidity, citric acid, residual sugar, chlorides 열의 값을 StandardScaler로 표준화하세요.
- 표준화된 결과를 출력하세요.

In [7]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt

# 데이터 프레임 생성
data = pd.read_csv('winequality-red.csv')
df = pd.DataFrame(data)

# 표준화를 위한 스케일러 객체 생성
scaler = StandardScaler()

# 표준화할 열 지정
columns_to_standardize =  ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides']

# 각 열에 대해 표준화 수행
df[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])

# 표준화된 데이터 확인
print("\n------------ 표준화된 데이터 ------------\n")
print(df.head())

------------ 표준화된 데이터 ------------

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0      -0.528360          0.961877    -1.391472       -0.453218  -0.243707
1      -0.298547          1.967442    -1.391472        0.043416   0.223875
2      -0.298547          1.297065    -1.186070       -0.169427   0.096353
3       1.654856         -1.384443     1.484154       -0.453218  -0.264960
4      -0.528360          0.961877    -1.391472       -0.453218  -0.243707

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5