## 파이썬 기본 문법 정리 1

### 1. 주석
- 코드 내부에 사용하여 실행에 영향을 주지 않는 메모
- `#`을 사용해 작성

### 2. 변수 (Variable)
- 데이터를 메모리에 저장하는 방식
- 변수에는 데이터가 아닌 메모리 주소가 저장됨
- 형식: 변수이름 = 값

In [1]:
num = 10
print(num)
print(id(num))  # 메모리 주소 확인
print(num + 100)

10
140721251042504
110

### 3. 자료형 (Data Types)
- 파이썬은 동적 타이핑 언어 → 실행 시 자료형이 결정됨
- 주요 자료형: int, float, str, bool

In [2]:
num1 = 10       # 정수
num2 = 3.14     # 실수
print(type(num1), type(num2))

num3 = 'hello'  # 문자열
print(num3, type(num3))

check1 = True   # 불린
check2 = False
print(check1, type(check1))

<class 'int'> <class 'float'>
hello <class 'str'>
True <class 'bool'>

### 4. 문자열 (String)

#### 문자열 생성
- 작은 따옴표, 큰 따옴표, 삼중 따옴표 모두 사용 가능

In [3]:
str_1 = 'hello!'
str_2 = "안녕하세요"
str_3 = '''첫 번째
안녕하세요
반갑습니다.'''
str_4 = """
SELECT *
FROM emp
WHERE empno=10
"""

print(str_1, type(str_1))
print(str_2, type(str_2))
print(str_3)
print(str_4)

hello! <class 'str'>
안녕하세요 <class 'str'>
첫 번째
안녕하세요
반갑습니다.

SELECT *
FROM emp
WHERE empno=10

#### 문자열 연산 및 관련 함수
- `+`: 연결
- `*`: 반복
- `len()`: 길이 확인
- 문자열은 시퀀스 → 인덱싱, 슬라이싱 가능

In [4]:
print('hello' + ' python')
print('=' * 10)
print(len(str_1))
print(str_5 := 'hello~ python!!')
print(str_5[5])        # 인덱싱
print(str_5[0:5])      # 슬라이싱

hello python
==========
6
hello~ python!!
~
hello

#### 문자열 포맷팅
- f-string 방식 사용 (Python 3.6+)

In [5]:
user_name = '하이'
user_age = 30
print(f'안녕하세요! 저는 {user_name}입니다. 나이는 {user_age}살 입니다.')
print(f'내년에는 나이가 {user_age + 1}살이 됩니다.')

안녕하세요! 저는 하이입니다. 나이는 30살 입니다.
내년에는 나이가 31살이 됩니다.

### 5. 대입 연산자
- `=`, `+=`, `-=`, `*=`, ...

In [6]:
num = 1
num = num + 1
print(num)
num += 1
print(num)

2
3

### 연습 문제 1
- 국어, 영어, 수학 점수의 총합과 평균을 구하고 출력하기

In [7]:
korean = 90
english = 80
math = 70

sum = (korean + english + math)
avg = sum / 3

print(f"국어 : {korean}점, 영어 : {english}점, 수학 : {math}점")
print(f"총합 : {sum}점, 평균 : {avg}점")

국어 : 90점, 영어 : 80점, 수학 : 70점
총합 : 240점, 평균 : 80.0점

#### 모범 답안

In [8]:
kor_score = 100
eng_score = 70
math_score = 80

sum_score = kor_score + eng_score + math_score
avg_score = sum_score / 3

print(f'국어점수:{kor_score}, 영어점수:{eng_score}, 수학점수:{math_score} \n총점:{sum_score} \n평균점수:{avg_score}')

국어점수:100, 영어점수:70, 수학점수:80
총점:250
평균점수:83.33333333333333

### 연습 문제 2
- 성별이 남성이고 18세 이상인지 판단하는 조건문 작성

In [9]:
gender = "male"
age = 20

if (gender == "male") and (age >= 18):
    print("True")
else:
    print("False")

True

#### 모범 답안

In [10]:
gender = 'M'
age = 18
check = gender == 'M' and age >= 18
print('성인 남성 체크 :', check)

성인 남성 체크 : True

### 6. 리스트 (List)
- 순서를 가지는 데이터의 묶음
- 인덱스로 각 요소 접근 가능

In [11]:
list_a = [1, 2, 3]
print(list_a, type(list_a))
print(list_a[0])
print(list_a[1])
print(list_a[2])

list_a[2] = 4
print(list_a)

[1, 2, 3] <class 'list'>
1
2
3
[1, 2, 4]