## 파이썬 기본 문법 정리 3

### 1. 함수

#### 함수 (Function)
- 데이터를 받아서 처리 후 결과를 반환하는 코드의 묶음
- 코드 재사용, 유지보수, 가독성 향상

In [14]:
def add(n1, n2) : # 함수 정의 : 이름, 매개변수
    result = n1 + n2 # 연산, 처리, 작업
    return result   # 결과 값 반환

print(type(add))
add(10, 20) # 호출 : 이름과 괄호()안에 매개변수가 받을 수 있는 데이터를 함께 전달

<class 'function'>

30

#### 함수의 다양한 형태
- 매개변수 O, 반환값 O
- 매개변수 X, 반환값 O
- 매개변수 O, 반환값 X
- 매개변수 X, 반환값 X

In [15]:
# 매개변수가 없는 함수
def alert_msg():
    # ....
    msg = '''
    안녕하세요.
    회원님
    반갑습니다.!!!!
    '''
    return msg

print(alert_msg())

    안녕하세요.
    회원님
    반갑습니다.!!!!

In [16]:
# 매개변수는 있고, 반환값이 없는 함수
# 숫자 두개를 받아 
# 덧셈연산의, 결과를 출력하는 함수
def add_print(n1, n2):
    result = n1 + n2
    print(f'{n1}+{n2}={n1+n2}')

add_print(100, 20)

100+20=120

In [17]:
result_add_print = add_print(10, 200)
print(result_add_print)

10+200=210
None

In [18]:
# 매개변수도 없고, 반환도 없는 함수
def display_menu() :
    menu = '''
    1. 아메리카노
    2. 라떼
    3. 에스프레소
    '''
    print(menu)

display_menu()

    1. 아메리카노
    2. 라떼
    3. 에스프레소

#### 매개변수 활용
- 위치 인자, 키워드 인자
- 가변 인자 (*args, **kwargs)
- 매개변수 기본값 지정
- 여러 개 리턴 시 튜플로 반환

In [19]:
len('hello')

5

In [20]:
def sub(n1, n2):
    return n1-n2

sub(n2=3, n1=10)

7

In [21]:
print('KING', 'hello', sep='\t', end='\t' )   
print('hi~!!')

KING	hello	hi~!!

In [22]:
# 매개변수에서 전달되는 숫자들(몇개?)을 모두 더한 값을 반환 하는 함수
def add_sum(*args) :
    print(type(args))
    print(args)
    sum = 0
    for num in args:
        sum += num
    return sum

add_sum(1,2,3,4,5,6,7,8,9,10)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

55

In [23]:
# 연산의 타입을 전달 받고 전달되는 숫자들을 연산한 결과를 반환하는 함수
def add_type(type, *args):
    # add, mul
    if type=='add':
        result = 0
        for num in args:
            result += num
        return result
    elif type=='mul':
        result = 1
        for num in args:
            result *= num
        return result
    else :
        print('사용가능한 타입을 입력해주세요!')

add_type('add', 1,2,3,4,5,6,7,8,9)
add_type('mul', 1,2,3,4)
add_type('sub', 1,2,3,4)

사용가능한 타입을 입력해주세요!

In [24]:
def print_args(**args):
    print(args)
    print(type(args))
    return args

print_args(name='손흥민', age=20)

player1 = {
    'name' : '손흥민',
    'age' : 20
}
player2 = print_args(name='메시', age=30)

print(player1)
print(player2)

{'name': '손흥민', 'age': 20}
<class 'dict'>
{'name': '메시', 'age': 30}
<class 'dict'>
{'name': '손흥민', 'age': 20}
{'name': '메시', 'age': 30}

In [25]:
def add_mul_return(n1, n2):
    add_result = n1 + n2
    mul_result = n1 * n2
    return (add_result, mul_result)

result1, result2 =  add_mul_return(10,20)
print(result1, result2)

30 200

In [26]:
add_mul_return()

TypeError: add_mul_return() missing 2 required positional arguments: 'n1' and 'n2'

In [27]:
# 매개변수의 기본값 설정
def add2(n1=0, n2=0):
    return n1+n2

add2(1)

1

In [28]:
# 이름, 나이, 성별 받아서 출력 함수
def say_hi(name, age, gender=True) : # Gender=True => 여성
    print(f'안녕하세요. 저는 {name}입니다. 나이는 {age} 입니다.')
    if gender:
        print('여성입니다.')
    else :
        print('남성입니다.')

say_hi('king', 20, False)

안녕하세요. 저는 king입니다. 나이는 20 입니다.
남성입니다.

#### 변수 범위
- 지역 변수와 전역 변수
- global 키워드

In [29]:
# 변수의 사용 범위

a = 1

def var_test(a):
    print('함수 내부의 a : ', a)

var_test(10)
print(a)

함수 내부의 a :  10
1

In [30]:
def var_test2():
    global a
    a = a + 1
    print(a)

var_test2()
print(a)

2
2

#### lambda 표현식
- 한 줄로 정의하는 익명 함수
- 함수이름 = lambda arg1, arg2 ... : 연산
- 숫자 두개를 전달받아 덧셈한 결과를 반환하는 함수

In [31]:
add3 = lambda n1, n2 : n1+n2

add3(100, 10)
print(type(add3))

<class 'function'>

#### 내장 함수 및 고차 함수
- enumerate, map, filter 등

In [32]:
st_names = ['king', 'cool', 'hot', 'scott']

In [33]:
# 학생들의 index 값을 함께 출력
num = 0
for name in st_names:
    print(num, name)
    num += 1

0 king
1 cool
2 hot
3 scott

In [34]:
for index, name in enumerate(st_names, start=10):
    print(index, name)

10 king
11 cool
12 hot
13 scott

In [35]:
# filter : 필터링(매개변수로 전달되는 함수 : 요소값을 판단해서 논리값 반환)을 통해 새로운 리스트를 생성 반환
# filter(fn, itr)
def positive(l) :
    result = []
    for n in l :
        if n > 0 :
            result.append(n)
    return result

positive([3, 1, -1, -3, 0, 9, 10, 4])

[3, 1, 9, 10, 4]

In [36]:
# filter
# 판별함수
def positive_fn(x):
    return x > 0

def pos_fn2(x):
    return x%2==1

In [37]:
list(filter(pos_fn2, [3, 1, -1, -3, 0, 9, 10, 4]))

[3, 1, -1, -3, 9]

In [38]:
list(filter(lambda x : x%2==1, [3, 1, -1, -3, 0, 9, 10, 4]))

[3, 1, -1, -3, 9]

In [39]:
list(map(lambda x: x*10, [1,2,3,4,5]))

[10, 20, 30, 40, 50]

### 2. 파일 입출력 (I/O)
- 표준 입출력 => input, print
- 텍스트 파일(자원) : 입출력 I/O
- 파일 단위 입출력 : open(자원의경로, 모드)  모드 => r(read), w(write), a(append)

In [ ]:
f = open('data/new_text.txt', 'w', encoding='UTF-8')
f.close()

In [ ]:
f = open('data/new_text.txt', 'w', encoding='UTF-8') #1.파일 오픈 : w
f.write('안녕하세요!!!') # 3. 텍스트 쓰기
f.close()

In [ ]:
f = open('data/new_text.txt', 'w', encoding='UTF-8')
for i in range(1, 11):
    f.write(f'{i}번째 줄 입력 \n')
f.close()

In [5]:
# 파일 내용 읽어오기
f = open('data/new_text.txt', 'r', encoding='UTF-8') # 1. 파일 열고 , Read -> r
line1 = f.readline()
print(line1)
line2 = f.readline()
print(line2)
f.close()

1번째 줄 입력

2번째 줄 입력

In [ ]:
# 파일 내용 읽어오기
f = open('data/new_text.txt', 'r', encoding='UTF-8') # 1. 파일 열고 , Read -> r

while 1:
    line = f.readline()
    if not line:
        break
    print(line, end='')

f.close()

1번째 줄 입력
2번째 줄 입력
3번째 줄 입력
4번째 줄 입력
5번째 줄 입력
6번째 줄 입력
7번째 줄 입력
8번째 줄 입력
9번째 줄 입력
10번째 줄 입력

In [ ]:
f = open('data/new_text.txt', 'r', encoding='UTF-8')
lines = f.readlines()
print(lines)
for line in lines:
    print(line, end='')
f.close()

['1번째 줄 입력 \n', '2번째 줄 입력 \n', '3번째 줄 입력 \n', '4번째 줄 입력 \n', '5번째 줄 입력 \n', '6번째 줄 입력 \n', '7번째 줄 입력 \n', '8번째 줄 입력 \n', '9번째 줄 입력 \n', '10번째 줄 입력 \n']
1번째 줄 입력
2번째 줄 입력
3번째 줄 입력
4번째 줄 입력
5번째 줄 입력
6번째 줄 입력
7번째 줄 입력
8번째 줄 입력
9번째 줄 입력
10번째 줄 입력

In [ ]:
# append : 데이터 추가
f = open('data/new_text.txt', 'a', encoding='UTF-8')
f.write('새로운 행이 추가됩니다. \n')
f.close()

In [ ]:
# append : 데이터 추가
f = open('data/new_text.txt', 'a', encoding='UTF-8')
for i in range(16, 21):
    f.write(f'새로운 행{i}이 추가됩니다. \n')
f.close()

In [ ]:
# close 생략 가능한구현 => with
with open('data/new_text.txt', 'r', encoding='UTF-8') as file :
    lines = file.readlines()
    print(lines)

['1번째 줄 입력 \n', '2번째 줄 입력 \n', '3번째 줄 입력 \n', '4번째 줄 입력 \n', '5번째 줄 입력 \n', '6번째 줄 입력 \n', '7번째 줄 입력 \n', '8번째 줄 입력 \n', '9번째 줄 입력 \n', '10번째 줄 입력 \n', '새로운 행이 추가됩니다. \n', '새로운 행16이 추가됩니다. \n', '새로운 행17이 추가됩니다. \n', '새로운 행18이 추가됩니다. \n', '새로운 행19이 추가됩니다. \n', '새로운 행20이 추가됩니다. \n']

### 3. 예외 처리 (Exception Handling)
- 에러 발생시에 비정상적인 종료 막기 위한 처리

In [73]:
print(10/0)
print('프로그램 종료')

ZeroDivisionError: division by zero

In [ ]:
list_t = [1,2,3]
print(list_t[3])

IndexError: list index out of range

In [ ]:
f = open('data/new_text1.txt', 'r')
f. close()

FileNotFoundError: [Errno 2] No such file or directory: 'new_text1.txt'

In [ ]:
add()

TypeError: add() missing 2 required positional arguments: 'n1' and 'n2'

In [ ]:
try :
    print(10/5)  # 에러 예상 위치
except:
    print('에러가 발생했습니다. 에러에대한 처리를 합니다.')

print('프로그램을 종료합니다.')

2.0
프로그램을 종료합니다.

In [ ]:
try :
    print(10/2)
    print(list_t[1]) # <=======
    print(uname)
except ZeroDivisionError as e :
    print('0으로 나누는 연산을 불가능합니다.')
    print(e)
except (NameError, IndexError) as e:
    #print('정의되지 않은 식별자 입니다.')
    print('에러가 발생했습니다.')
    print(e)
# except IndexError as e:
#     print('리스트의 index 범위에서 벗어납니다')
#     print(e)
except :
    print('에러발생!!!')

5.0
2
에러가 발생했습니다.
name 'uname' is not defined

In [ ]:
# try: except: finally: -> 에러 발생여부와 상관없이 실행되어야 하는 블록
try:
    print('hello')
    print(10/2)
except:
    print('error!!')
finally:
    print('!!!!!')

hello
5.0
!!!!!

In [ ]:
try :
    age = int(input('나이를 입력하세요'))
except:
    print('숫자형식으로 입력해주세요!!!!!!')
else :
    if age > 18 :
        print('입장')
    else :
        print('불가')

입장

#### 사용자 정의 예외 타입 정의
- 논리적인 오류 발생 -> 예외로 처리

In [ ]:
# age => 음수, 500 : 논리적 오류

class MyError(Exception):
    pass

In [ ]:
# 에러 강제 발생
raise MyError()

MyError:

In [ ]:
try:
    age = int(input('나이를 입력하세요!'))
        
    if age<1 or age>200:
        raise MyError()
    
except MyError :
    print('나이의 입력 범위는 1~200 까지입니다.\n다시입력하세요!')
except:
    print('다시입력하세요!')
else :
    print(age)

나이의 입력 범위는 1~200 까지입니다.
다시입력하세요!